body {
    background-color: #293241 !important;
}

.chore-header {
    color: #EE6C4D;
}

.description {
    color: #98c1d9;
}

.instructions {
    color: #EE6C4D;

}

#get-chore {
    background-color:  #293241;
    color: #EE6C4D;
    outline: solid 1px;
    outline-color: #293241;
    border-radius: 20px;
}


.col-6 {
    background-color: #98c1d9;
    border-radius: 40px;
}

.chore-section {
    color: #293241;
}

main {
    background-color: #293241;
}

footer {
    color: grey;
    position: fixed;
    width: 100%;
}

.chores-div {
    margin: 10%;
}
