@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300..700&display=swap");

body {
  min-width: 100vw;
  min-height: 100vh;
}

.chore-header {
  color: #f72585;
  font-family: "Bangers", system-ui;
  font-size: 5rem;
  /* resizing tip from mdn web docs */
}

.navbar-brand {
  font-family: "Bangers", system-ui;
}

.description {
  color: #f72585;
  font-family: "Quicksand", system-ui;
}

.instructions {
  font-family: "Quicksand", system-ui;
  color: #7209b7;
  font-size: 1.4rem;
}

.col-6.mb-5 {
  background-color: #c5e0f0;
  border-radius: 40px;
}

.chore-section {
  color: #293241;
}

.chores-div {
  margin: 10%;
}

.about-title {
  color: #7209b7;
  font-family: "Quicksand", system-ui;
}

.card-body {
  font-family: "Quicksand", system-ui;
  color: darkslategrey;
}

#about-card {
  margin-bottom: 48px;
  /* used devtools to see pixels of bottom margin on home page */
}

.footer {
  margin-top: 100px;
  padding-top: 100px;
}
