@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    background-color: #293241;
}

.chore-header {
    color: #EE6C4D;
    font-family: "Bangers", system-ui;
    font-size: 5rem;
    /* resizing tip from mdn web docs */
}

.navbar-brand.m-0 {
    font-family: "Bangers", system-ui;
    font-size: 1.5rem;
}

.description {
    color: #98c1d9;
}

.instructions {
    color: #EE6C4D;

}

#get-chore {
    background-color:  #293241;
    color: #EE6C4D;
    outline: solid 1px;
    outline-color: #293241;
    border-radius: 20px;
}


.col-6.mb-5 {
    background-color: #98c1d9;
    border-radius: 40px;
}

.chore-section {
    color: #293241;
}

main {
    background-color: #293241;
}

footer {
    background-color: #293241;
    color: lightslategrey;
}

.chores-div {
    margin: 10%;
}

.about-title {
    color: #98c1d9;
}

.card-body {
    background-color: #98c1d9;
}

#about-card {
    margin-bottom: 48px;
    /* used devtools to see pixels of bottom margin on home page */
}